*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainLayout{
    background-color: rgb(235, 235, 235);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    border-radius: 15px;
    padding: 15px;
    width: 90%;
    height: 90%;
    background-color: rgb(240, 248, 255);
}