@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
/* font-family: 'Roboto', sans-serif; */
}

.mainLayout{
    background-color: rgb(235, 235, 235);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    border-radius: 15px;
    padding: 10px;
    width: 90%;
    height: 90%;
    background-color: rgb(240, 248, 255);
}

.homeLayout{
    display: flex;
    gap: 10px;
    border-radius: 15px;
}

.sidebar{
    flex: 0.3;
    border-radius: 15px;
}

.chatArea{
    flex: 0.7;
    border-radius: 15px;
}

.sidebarActionIcons{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    padding: 10px 0;
}
.sAIcon{
    font-size: 24px !important;
}

.searchBar{
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.searchInput{
    outline: 0;
    border: none;
    margin-left: 10px;
    font-size: 1.25rem;
    width: 100%;
}

.sbUsersSection{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

.sbUsers{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.sbUserAvatar{
    margin-right: 15px;
}
.sbUserName{
    font-size: 1.2rem;
    font-weight: 600;
}
.sbUserInfo{
    flex-grow: 1;
}
.sbUserMessage{
    margin-top: 5px;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}
.sbMessageTime{
    
}


/* 
Chat Area
*/

.chatArea{
display: flex;
flex-direction: column;
gap: 10px;
}
.caHeader{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
.caUserDetails{
    flex-grow: 1;
}
.caName{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
font-weight: 600;
}